@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html {
  font-size: 18px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1rem;
}
